* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .fullHeight {
    height: 100%;
    overflow-y: auto;
  }

  .fullWidth {
    width: 100%;
  }

  .selectedInterests {
    padding-left: 0px !important;
    padding-top: 10px !important;
  }

  .coffeeTrackerContainer {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  #logoutButton {
    font-size: 10px !important;
  }
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .wrap {
    border: 0;
    box-shadow: none;
    width: auto;
    max-width: 400px;
    margin: 0 auto;
  }

  .login-bg-image {
    background-image: none !important;
    background-color: #fff !important;
    -webkit-filter: unset !important;
    filter: unset !important;
  }

  #profileContainer {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

#requestCompleteContainer {
  margin-top: 15% !important;
  margin-bottom: 15% !important;
}

.progress {
  width: 200px;
  height: 30px;
  border: 1px solid peachpuff;
  position: relative;
}
.progress:after {
  content: "";
  position: absolute;
  background: #ca944e;
  top: 0;
  bottom: 0;
  left: 0;
  width: 45%;
}

.coffeeBar {
  width: 200px;
  height: 30px;
  border: 1px solid peachpuff;
  margin-bottom: 5px;
}

.coffeeBarProgress {
  width: 0%;
  height: 100%;
  background: #ca944e;
}

.findButton {
  background-color: #a87c55 !important;
  border-color: #a87c55 !important;
}

#logoutButton {
  :hover {
    color: #a87c55;
  }
}

.findButton:hover {
  background-color: rgb(154, 90, 29) !important;
}

.maxInterestHelperText {
  font-style: italic;
  font-weight: lighter;
  font-size: small;
}

.coffeeTrackerContainer {
  background-color: #bbccce;
  margin-top: 10%;
}

.coffeeTrackerImage {
  border-color: black;
  float: none !important;
}

.selectedInterestItem:hover {
  color: rgb(154, 90, 29) !important;
  border-color: rgb(154, 90, 29) !important;
}

.selectedInterestItem {
}

.form .text input:focus {
  border-color: #a87c55 !important;
}

.backgroundImageLattes {
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  min-width: 1800px;
  min-height: 1100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -5;
}

.fullWidthHeight {
  width: 100%;
  height: 100%;
}

.inputInvalid {
  border: 1px solid #e13009;
}

.okta-sign-in-header {
  background: #bbccce !important;
}

.meter {
  height: 20px;
  position: relative;
  margin: 60px 0 20px 0;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(43, 194, 83)),
    color-stop(1, rgb(84, 240, 84))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 100%,
    color-stop(0.25, rgba(255, 255, 255, 0.2)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.75, rgba(255, 255, 255, 0.2)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  background-image: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.orange > span {
  background-color: #f1a165;
  background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f1a165),
    color-stop(1, #f36d0a)
  );
  background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}

.red > span {
  background-color: #f0a3a3;
  background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f0a3a3),
    color-stop(1, #f42323)
  );
  background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span,
.nostripes > span:after {
  -webkit-animation: none;
  background-image: none;
}
